.card-img-top {
    height: 15vh !important;
    object-fit: cover !important;
}

.displayed-box {
    max-width: 1280px;
}

.displayed-post-image-wrapper {
    height: 350px;
    width: 40%;
}

#displayed-post-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.displayed-post-details {
    height: 350px;
    width: 60%;
}

#displayed-post-price {
    margin-top: auto;
}

#displayed-post-description {
    height: 155px;
    text-align: justify;
}