<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Mirror</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome-all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}">
</head>
<body>
<header>
    <div>
        <a class="selected" th:href="@{home}">Home</a>
        <a th:href="@{settings}">Profile</a>
        <a th:href="@{/api/logout}">Logout</a>
    </div>
</header>

<main>
    <div class="alert alert-danger text-center" th:if="${session.error}"
         th:text="${session.error.getMessage()}"></div>
    <span th:if="${session.exceptionConsumer}" th:text="${session.exceptionConsumer.consume()}"></span>
</main>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>