<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post - Mirror</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome-all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}">
</head>
<body>
<header>
    <div>
        <a th:href="@{home}">Home</a>
        <a class="selected" th:href="@{new-post}">New Post</a>
        <a th:href="@{settings}">Profile</a>
        <a th:href="@{/api/logout}">Logout</a>
    </div>
</header>

<main>
    <div class="alert alert-danger text-center" th:if="${session.error}"
         th:text="${session.error.getMessage()}"></div>
    <span th:if="${session.exceptionConsumer}" th:text="${session.exceptionConsumer.consume()}"></span>
    <div class="alert alert-success text-center" th:if="${param.settings_saved}">
        Settings saved.
    </div>

    <div class="form-content">
        <div class="form-items">
            <form enctype="multipart/form-data" th:action="@{/new-post}" method="POST">
                <h2>New Post</h2>
                <label>
                    <input class="form-control" type="text" name="postName" placeholder="Display name" required>
                </label>
                <label>
                    <input class="form-control" type="text" name="postPrice" placeholder="Price" required>
                </label>
                <label>
                    <input class="form-control" type="text" name="postDescription"
                           placeholder="Description... (max 255 characters)">
                </label>
                <label for="category">
                    <select class="form-select" id="category" name="postCategory">
                        <option th:each="category : ${T(com.mirrors.mirrorsbackend.marketplace_post.CategoryEnum).values()}"
                                th:value="${category}"
                                th:text="${category.displayName}">
                        </option>
                    </select>
                </label>
                <label for="images">
                    Images:
                    <input type="file" accept="image/png, image/jpeg" id="images" name="postImages" multiple>
                </label>
                <div class="form-button">
                    <button class="ibtn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>