<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Mirror</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome-all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}">
</head>
<body>
<header>
    <div>
        <a th:href="@{home}">Home</a>
        <a th:href="@{new-post}">New Post</a>
        <a class="selected" th:href="@{settings}">Profile</a>
        <a th:href="@{/api/logout}">Logout</a>
    </div>
</header>

<main>
    <div class="alert alert-danger text-center" th:if="${session.error}"
         th:text="${session.error.getMessage()}"></div>
    <span th:if="${session.exceptionConsumer}" th:text="${session.exceptionConsumer.consume()}"></span>
    <div class="alert alert-success text-center" th:if="${param.settings_saved}">
        Settings saved.
    </div>

    <div class="form-content">
        <div class="form-items">
            <form th:action="@{/settings/personal}" method="POST">
                <h2>Personal information</h2>
                <label>
                    <input class="form-control" type="text" name="displayName" placeholder="Display name"
                           th:value="${user.getDisplayName()}" required>
                </label>
                <label>
                    <input class="form-control" type="text" name="firstName" placeholder="First name"
                           th:value="${user.getFirstName()}">
                </label>
                <label>
                    <input class="form-control" type="text" name="lastName" placeholder="Last name"
                           th:value="${user.getLastName()}">
                </label>
                <div class="form-button">
                    <button class="ibtn" type="submit">Save</button>
                </div>
            </form>
            <form th:action="@{/settings/clear}" method="POST">
                <input class="form-control" type="hidden" name="value" th:value="${T(com.mirrors.mirrorsbackend.mvc.settings.SettingValueEnum).PERSONAL_INFO}">
                <div class="form-button">
                    <button class="ibtn" type="submit">Clear</button>
                </div>
            </form>
        </div>
    </div>

    <div class="form-content">
        <div class="form-items">
            <form th:action="@{/settings/password}" method="POST">
                <h2>Change password</h2>
                <label>
                    <input class="form-control" type="password" name="oldPassword" placeholder="Old password" required>
                </label>
                <label>
                    <input class="form-control" type="password" name="password" placeholder="New password" required>
                </label>
                <label>
                    <input class="form-control" type="password" name="confirmPassword"
                           placeholder="Confirm new password"
                           required>
                </label>
                <div class="form-button">
                    <button class="ibtn" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>


    <div class="form-content">
        <div class="form-items">
            <form th:action="@{/settings/phone}" method="POST">
                <h2>Phone number</h2>
                <label>
                    <input class="form-control" type="text" name="phoneNumber" placeholder="Phone number"
                           th:value="${user.getPhoneNumber()}">
                </label>
                <div class="form-button">
                    <button class="ibtn" type="submit">Save</button>
                </div>
            </form>
            <form th:action="@{/settings/clear}" method="POST">
                <input class="form-control" type="hidden" name="value" th:value="${T(com.mirrors.mirrorsbackend.mvc.settings.SettingValueEnum).PHONE_NUMBER}">
                <div class="form-button">
                    <button class="ibtn" type="submit">Clear</button>
                </div>
            </form>
        </div>
    </div>

    <div class="form-content">
        <div class="form-items">
            <form th:action="@{/settings/address}" method="POST">
                <h2>Shipping address</h2>
                <label>
                    <select class="form-select" id="country" name="country">
                        <option th:each="country : ${T(com.mirrors.mirrorsbackend.mvc.settings.CountryEnum).values()}"
                                th:value="${country}"
                                th:text="${country.displayName}"
                                th:selected="(${user.getCountry().getDisplayName()} == *{country.displayName})">
                        </option>
                    </select>
                </label>
                <label>
                    <input class="form-control" type="text" name="city" placeholder="City" th:value="${user.getCity()}">
                </label>
                <label>
                    <input class="form-control" type="text" name="streetAddress" placeholder="Street address"
                           th:value="${user.getStreetAddress()}">
                </label>
                <label>
                    <input class="form-control" type="text" name="zipCode" placeholder="Zip code"
                           th:value="${user.getZipCode()}">
                </label>
                <div class="form-button">
                    <button class="ibtn" type="submit">Save</button>
                </div>
            </form>
            <form th:action="@{/settings/clear}" method="POST">
                <input class="form-control" type="hidden" name="value" th:value="${T(com.mirrors.mirrorsbackend.mvc.settings.SettingValueEnum).SHIPPING_ADDRESS}">
                <div class="form-button">
                    <button class="ibtn" type="submit">Clear</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>